.container-fluid {
    padding: 0;
    margin: 0;
}

body {
    background-color: #292b33;
    /* background-color: red; */
}

.row {
    padding: 0;
    margin: 0;
}



/* navbar */
.navbar-brand {
    font-size: 2em;
    font-weight: 800;
    color: #00000198 !important;
}

#navbar {
    background-color: #fff;

}

/* navbar-end */



/* banner */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/bb71d1f699595d30bcde9895/fdfdfdf.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;

    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-contain h3 {
    text-align: center;
    font-weight: 350;
    letter-spacing: 3px;
}

header img {
    width: 350px;
    height: 110px;
}

.banner-contain {
    text-align: center;
}

.banner-contain h1 {
    font-size: 7em;
    margin: 20px 0 0 0;
}

.banner-contain p {
    margin: 50px 0 0 0;
    font-size: 25px;
    font-weight: 350;
    letter-spacing: 3px;
}

.banner-contain .btn {
    font-size: 1.2em;
    letter-spacing: 3px;
    margin-top: 40px;
    padding: 10px 40px 10px 40px;
    border-radius: 50px;
    border: 3px solid #fff;
    color: #fff;
    font-weight: 500;
}

.banner-contain .btn:hover {
    background-color: #fff;
    color: #000000;
}

/* banner-end */



/* logo-cards */

.white-div {
    background-color: #fff;
    /* height: 300px;
    width: 300px; */
    border-radius: 20px;
    text-align: center;
    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px 0 0 0;
}


.white-div svg {
    height: 100px;
}


.white-div h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 450;
    margin-top: 20px;
    font-size: 1.5em;
}

.white-div p {
    font-size: 1.1em;
}

.logo-row {
    transform: translateY(-25%);
}

/* logo-cards-end */



/* image-container */
.svg-all {
    margin-top: 50px;
}
.svg-small-image svg {
    height: auto;
    max-width: 66vmin;
    width: 66%;
}

.orange-circle svg {
    height: auto;
    max-width: 66vmin;
    width: 50%;
    position: absolute;
}

.md-image svg {
    height: auto;
    max-width: 50vmin;
    width: 76%;
    margin: 0 0 0 250px;
}

.big-image svg {
    height: 100%;
    max-width: 90vmin;
    width: 100%;
    position: absolute;
    margin: -50px 0 0 500px;
}

.gray-circle svg {
    height: auto;
    max-width: 45vmin;
    width: 330px;
    margin: 200px -450px 0px 900px;
    /* display: none; */
}

.svg-all {
    height: 110vh;
}

/* image-container-end */



/* backpacking trips */
.trip-text {
    /* position: relative; */
    color: #fff;
    text-align: center;
}

.trip-text h1 {
    font-size: 5em;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 3px;
}

.trip-text p {
    font-size: 1.5em;
    /* padding: 0 150px 0 150px; */
}

.trip-text .btn {
    font-size: 1.2em;
    letter-spacing: 3px;
    margin-top: 40px;
    padding: 10px 40px 10px 40px;
    border-radius: 50px;
    border: 3px solid #EA5C2B;
    color: #fff;
    background-color: #EA5C2B;
    font-weight: 500;
}

.trip-text .btn:hover {
    background-color: gray;
    color: #fff;
    border: 3px gray;
}

/* backpacking trips-end */



/* about us  */


.about-heading {
    color: #fff;
    text-align: center;
}

.about-heading h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about-heading p {
    font-size: 1.2em;
}

.row-container {
    margin-left: 120px !important;
}

.white-div-container {
    background-color: #fff;
    border-radius: 50px;
    padding: 40px;
    width: 450px;
}

.white-div-container p {
    font-size: 1.4em;
}

.white-div-container .btn {
    font-size: 1.2em;
    letter-spacing: 3px;
    margin: 10px 0 10px 0px;
    padding: 10px 40px 10px 40px;
    border-radius: 50px;
    border: 3px solid #EA5C2B;
    color: #fff;
    background-color: #EA5C2B;
    font-weight: 500;
}

.white-div-img img {
    width: 80%;
    height: 100%;
    border-radius: 50%;
    margin-top: 20%;
}

/* about us -end */



/* image cards */
.img-white-div {
    background-color: #fff;
    color: #000000;
    padding: 30px 0px 50px 25px;
    border-radius: 32px;
    width: 85%;
    margin: 10px 0;
}

.img-white-div img {
    width: 147px;
    height: 147px;
    border-radius: 50%;
}

.img-white-div h1 {
    font-size: 2em;
    font-weight: 500;
    padding: 30px 0px;
}

.img-white-div p {
    font-size: 1.5em;
    letter-spacing: 1px;
    padding-right: 25px;

}

.img-white-div a {
    font-size: 1.5em;
    color: #000000;
}

/* image cards-end */



/* freedom */
.freedom-container {
    height: 80vh;
    margin-top: 100px;
}

.freedom-text-img img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-position: 50% 50%;
    margin-right: 20%;
    /* margin:0px 0px -50px 0px; */
}

.freedom-text-img h1 {
    color: #fff;
    font-size: 6em;
    display: flex;
    font-style: italic;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: -290px 0px 0px -250px;
    z-index: 10;
}

.orange-circle-text svg {
    margin: 0 0 0 300px;
    height: auto;
    max-width: 66vmin;
    width: 50%;
    position: absolute;
}

.orange-text-div p {
    /* position: absolute; */
    width: 400px;
    color: #fff;
    font-size: 1.2em;

}



/* freedom-end */



/* image-container2 */
.row-img img {
    width: 100%;
    height: 500px;
}

/* image-container2-end */



/* hot-air-ballon-festival */

.hot-gray-circle svg {
    height: auto;
    max-width: 25vmin;
    width: 50%;
    margin: 30px 0px 0px 800px;
}

.hot-big-img img {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-position: 50% 50%;
    margin-right: 20%;
    margin: -200px 0px 0px 90px;
}

.hot-orange-circle svg {
    margin-top: -700px;
}

.hot-white-div {
    background-color: #fff;
    color: #000000;
    padding: 80px 50px;
    /* width: 700px; */
    border-radius: 30px;
    margin: -300px 0 0 500px;
    position: relative;
}

.hot-white-div h1 {
    font-size: 3.2em;
    font-style: italic;
    font-weight: 630;
    /* letter-spacing: 1px; */
}

.hot-white-div p {
    font-size: 1.5em;
    margin-top: 35px;
    font-weight: 400;
}

.hot-white-div .btn {
    font-size: 1.3em;
    padding: 15px 40px;
    border-radius: 50px;
    margin-top: 30px;
    background-color: gray;
    color: #fff;
    letter-spacing: 1px;
}

.hot-white-div .btn:hover {
    background-color: #f58d54;
    color: #fff;
    border: 1px solid #f58d54;
}

/* hot-air-ballon-festival-end */



/* get in touch */
.git-heading h1 {
    color: #fff;
    font-size: 5em;
    text-align: center;
    margin-top: 100px;
}

.input-div {
    margin: auto;
    width: 60%;
    color: #fff;
}

.form-group input {
    margin: 30px 0;
    height: 60px;
}

.form-control {
    font-size: 1.2em !important;
    /* background-color: gray;
    color: #fff;
    border: 0;
    border-bottom: 3px solid #fff; */
} 

.input-div .btn {
    padding: 15px 0;
    font-size: 1.3em;
    background-color: #f58d54;
    color: #fff;
    border-radius: 60px;
    letter-spacing: 2px;
    font-weight: 500;
}

.input-div .btn:hover {
    background-color: gray;
}

/* get in touch-end */